#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

	
	*[data-aetheme=dark-cobalt] {
    --theme-color-primary:  #DCDCDC !important;
    --theme-color-accent: #003161 !important;
	  --theme-color-text: #000000 !important;
	  --theme-color-secondary: #3f51b5 !important;
		/*--theme-color-muted: #808080 !important;
		 
		--theme-box-shadow: rgba(255, 0, 0, 0.5) !important;*/
	} 
	
	.ae-menubar.tabsbar{
		
		background: #f5f5f5 !important;
		
	}
	
	section.ae-menubar.toolbar.connected{
		
		background: #0031A5 !important;
		
	}
	
	.ae-menubar-accordion > [role=menubar] [role=menuitem]:hover, .ae-menubar-accordion > [role=menubar] [role=menuitem][data-active=true] {
		
		background: #3f51b5 !important;
	}
	